<span style="font-size:2em" >
<h1>Instructions</h1>
<ol class="intro">
<li> Log in to the system using the prompt in the top righthand corner.</li>
  <ul><li> Should you not have a run identifier handy, use the Runs tab to either create a new run or get an old identifier </li></ul>
<li> The Results tab will give you a prettyprinted list of results for specified run. </li>
<li> The Explore menu option will become available when you login. </li>
<li> Once in the Explore tab you can:</li>
  <ul>
    <li> Explore a topic in its particular corpus using the search interface </li>
    <li> Try a Batch Judgement (outlined in the API section) request by clicking the associated link</li>
  </ul>
</ol>
</span>
